@page "/doter"

<PageTitle>Memetest - Тест на дотера</PageTitle>


<h2>Тест на дотера</h2>
<Question Text="У вас есть мама?" @bind-Variable="@RazdP">
    <Answer Value="Да"/>   
    <Answer Value="Нет"/>
</Question>
<Question Text="Ваши тимейты раки?" @bind-Variable="@rak">
    <Answer Value="Да" />
    <Answer Value="Нет" />
</Question>
<Question Text="Вы знакомы со своими отчимами?" @bind-Variable="@otchim">
    <Answer Value="Да" />
    <Answer Value="Нет" />
</Question><Question Text="на ком легче апать ммр?" @bind-Variable="@mmr">
    <Answer Value="На корах" />
    <Answer Value="На сапортах" />
</Question>
<button @onclick="RunTest">Узнать результат</button>
    
@if(Score != null)
{
    <h3>
        Ваш результат: <span>@(100 * Score / MaxScore)%</span>
    </h3>
    <h3>
    Вывод: вы 
    @if(Score >= 20)
    {
            <span>чмо безмамное</span>
    }
    else
    {
            <span>не дотер</span>
    }
    </h3>
}

@code {
    string RazdP = "aa";
    string rak = "aa";
    string otchim = "aa";
    string mmr = "aa";
    int? Score = null;
    const int MaxScore = 40;
    private void RunTest()
    {
        Score = 0;
        if (RazdP == "Нет")
        // ,lo 
        {
            Score += 10;
        }
        if (rak == "Да")
        {
            Score += 10;
        }
        if (otchim == "Да")
        {
            Score += 10;
        }
        if (mmr == "На корах")
        {
            Score += 10;
        }
    }
}
