@page "/"

<PageTitle>Memetest</PageTitle>


<h2>Тест на хойщика</h2>
<Question Text="Вы хотите разделить Польшу?" @bind-Variable="@RazdP">
    <Answer Value="Да"/>   
    <Answer Value="Нет"/>
</Question>
<Question Text="Вы любите географию?" @bind-Variable="@Geo">
    <Answer Value="Да"/>   
    <Answer Value="Нет"/>
</Question>
<Question Text="вы трогаете траву?" @bind-Variable="@trava">
    <Answer Value="Да" />
    <Answer Value="Нет" />
    <Answer Value="Иногда" />
</Question>
<Question Text="Вы одиноки?" @bind-Variable="@odin">
    <Answer Value="Да" />
    <Answer Value="Нет" />
</Question>
<Question Text="Когда началась Второя Мировая война?" @bind-Variable="@dva">
    <Answer Value="1945" />
    <Answer Value="1941" />
    <Answer Value="1939" />
</Question>
<Question Text="Кто виноват во Второй Мировой войне?" @bind-Variable="@zjech">
    <Answer Value="Гитлер" />
    <Answer Value="Евреи" />
    <Answer Value="Я" />
</Question>
<button @onclick="RunTest">Узнать результат</button>
    
@if(Score != null)
{
    <h3>
        Ваш результат: <span>@(100 * Score / MaxScore)%</span>
    </h3>
    <h3>
    Вывод: вы 
    @if(Score >= 30)
    {
        <span>хойщик</span>
    }
    else
    {
        <span>не хойщик</span>
        }
    </h3>
}

@code {
    string trava = "aa";
    string dva = "aa";
    string zjech = "aa";
    string odin = "aa";
    string RazdP = "aa";
    string Geo = "aa";
    int? Score = null;
    const int MaxScore = 60;
    private void RunTest()
    {
        Score = 0;
        if (RazdP == "Да")
        {
            Score += 10;
        }
        if (Geo == "Да")
        {
            Score += 10;
        }     
        if (trava == "Нет")
        {
            Score += 10;
        }
        if (trava == "Иногда")
        {
            Score += 5;
        }
        if (odin == "Да")
        {
            Score += 10;
        }
        if (zjech == "Евреи" || zjech == "Я")
        {
            Score += 10;
        }
        if (dva == "1939")
        {
            Score += 10;
        }
    }
}